/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

body {
 background-color: rgb(56, 98, 4);
}



h1 {
 background-color: rgb(255, 0, 208);
 color: hsl(48, 100%, 50%);
 padding: 40px;
 text-align: center;
}

p {

 background-color: #d62020;

}